body{
    margin: 0px;
    background-color: #63340d;;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    color: #63340d;
}
.corpo{
    width: 70%;
    height: auto;
    margin-top: 0%;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 10px 0px 0px #63340d;
    border: solid 0px #63340d ;;
}
h1{
    font-family: sans-serif;
    font-size: 10pt;
    text-align: center;
    font-weight: bolder;
}

/*Inicio*/

.conteudo{
    width: 80%;
    height: 100%;
    /*background-color: #4d4d4d;*/
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
form{
    height: 100%;
    font-size: 10pt;
    width: 80%;
    height: 100%;
    /*background-color: #5014db;*/
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
table{
    width: 90%;
    height: 100%;
    /*background-color: #9c1010;*/
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;  
}
tr{
    display: flex;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
td{
    height: 30px;
}
input{
    color: #63340d ;
    width: 200px;
    outline: none;
    border-bottom: solid 0.5px #63340d;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    text-align: center;
}
input[type="submit"]{
    margin-top: 20px;
    width: 100px;
    height: 25px;
    border-radius: 10px;
    cursor: pointer;
    color: #FFF;
    background-color: #723900;
    margin-left: 10px;
}
input[type="button"]{
    margin-top: 20px;
    width: 100px;
    height: 25px;
    border-radius: 10px;
    color: #FFF;
    cursor: pointer;
    background-color: #723900;
    margin-left: 10px;
}
.rodape{
    height: 20px;
}
select{
    width: 203px;
    height: 25px;
    border-bottom: solid 0.5px #63340d;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    color: #63340d ;
    background-color: #fff387;

}
iframe{
    margin-top: 10px;
    width: 100%;
    height: 500px;
    border-radius: 5px;
    border: 0.5px solid #e4e4e4;
}
.logo{
    width:200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 200px;
    height: auto;
}
