*{margin: 0px; padding: 0px;}
body{
    background-color: rgb(240, 240, 240);
    font-family: sans-serif;
    font-size: 9pt;
    color: #444b50;
}
section{
    display: block;
    justify-content: center;
    background-color: #FFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 90%;
    height: 320px;
    border-top-left-radius: 0px;
    border-top-right-radius: 30px;
    border-end-start-radius: 30px;
}
div.conteudo{
    position: relative;
    width: 100%;
    height: 30px;
    top: 20px;
    padding-left: 10px;
   /* background-color: blanchedalmond;*/
}
img{
    width: 40%;
    margin-left: 10px;
}
div.tabela{
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    /*background-color: blue;*/
}
table{
    width: 100%;
    margin-left: 10px;
}
th{
    width: 200px;
    /*background-color: blueviolet;*/
    text-align: left;
    outline: none;
}
tr{
    height: 20px;
    /*background-color: blueviolet;*/
}
input{
    width: 80%;
    height: 20px;
    outline: none;
    border-radius: 3px;
    border: solid 0.3px;
    border-color: rgb(218, 218, 218);
    padding-left: 10px;
}
select{
    width: 80%px;
    outline: none;
    border-radius: 3px;
    border: solid 0.3px;
    border-color: rgb(218, 218, 218);
    height: 20px;
}
input[type="submit"]{
    color: #444b50;
    height: 25px;
    margin-top: 20px;
    cursor: pointer;
}
p{
    margin-top: 30px;
    margin-left: 25px;
    font-size: 12pt;
    font-weight: bolder;
}
hr{
    width: 88%;
    border: 0px;
    height: 1px;
    background-color: #adadad;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}
